*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;

}

body {
    background-color: rgb(17, 16, 15); 
}

.nav{
    height: 70px;
    background-color: rgb(49, 44, 44);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.both{
    height: 50px;
    width: 40%;
    display:flex;
    margin-right: 30%;

}

.searchBar{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 1.2rem;
    margin-left: 5%;
    background-color: rgb(70, 61, 61);
    border-radius: 20px;

}

.searchIcon{
    width: 50px;
    height: 50px;
    background-color: white;
    background-color: transparent;

}

.myC{
    color: white;
    font-size: 1rem;
    font-weight: 700;

}

.home{
    font-size: 1rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.profile{
    color: white;
    background-color: rgb(17, 16, 15); 
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hero section  */
main {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 60px;
}


.box {
    float: left;
    background-color: rgb(49, 44, 44);
    color: white;
    width: 300px;
    line-height: 340px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    height: 340px;
}

.img-1{
    background-image: url("asserts/c++free.jpeg");
    background-size: cover;
    height: 270px;
    margin: 10px;
    border-radius: 5px;

}

h6{
    position: absolute;
    top: 230px;
    color: white;
    font-size: 1.5rem;
    margin-left: 5px;
}

.img-2{
    background-image: url("asserts/javafree.jpg");
    background-size: cover;
    height: 270px;
    margin: 10px;
    border-radius: 5px;
}

.img-3{
    background-image: url("asserts/javapaid.jpg");
    background-size: cover;
    height: 270px;
    margin: 10px;
    border-radius: 5px;
}

.img-4{
    background-image: url("asserts/c++paid.png");
    background-size: cover;
    height: 270px;
    margin: 10px;
    border-radius: 5px;
}

.img-7{
    background-image: url("asserts/webdevfree.jpg");
    background-size: cover;
    height: 270px;
    margin: 10px;
    border-radius: 5px;
}

h5{
    position: relative;
    bottom: 150px;
    color: white;
    font-size: 1.5rem;
    margin-left: 5px;
}

.img-8{
    background-image: url("asserts/webdevpaid.jpg");
    background-size: cover;
    height: 270px;
    margin: 10px;
    border-radius: 5px;
}

.img-5{
    background-image: url("asserts/dmfree.jpg");
    background-size: cover;
    height: 270px;
    margin: 10px;
    border-radius: 5px;
}

.img-6{
    background-image: url("asserts/dmpaid.jpg");
    background-size: cover;
    height: 270px;
    margin: 10px;
    border-radius: 5px;
}
.img-9{
    background-image: url("asserts/tradingfree.jpg");
    background-size: cover;
    height: 270px;
    margin: 10px;
    border-radius: 5px;
}

.img-10{
    background-image: url("asserts/tradingpaid.jpg");
    background-size: cover;
    height: 270px;
    margin: 10px;
    border-radius: 5px;
}

.img-11{
    background-image: url("asserts/videofree.jpg");
    background-size: cover;
    height: 270px;
    margin: 10px;
    border-radius: 5px;
}
.img-12{
    background-image: url("asserts/videopaid.jpg");
    background-size: cover;
    height: 270px;
    margin: 10px;
    border-radius: 5px;
}

.unlink{
    text-decoration: none;
    color: white;
}


