*{
    margin: 0;
    padding: 0;
}

.container {
    background-color: #0d0d0d;
    height: 500px;
}

.nav{
    height: 70px;
    display: flex;
    align-items: center;
    
}
.name {
    color: white; font-family: sans-serif; font-weight:900; margin-left: 50px; font-size: 1.5rem;
}

.name:hover{
    color: #e20805;
}
.btn-1 {
    margin-left: 75%;
    height: 35px;
    width: 110px;
    border-radius: 50px;
    border: none;
    font-weight: 600;

}

.btn-1:hover{
    border: 3px solid  #e20805;
}

/* hero section */

.hero{
    height:300px;
    background-color: white;
    margin-top: 70px;
}